* {
    background: rgb(245, 252, 234);
}
.App {
    margin: 0 10% 0 10%;
}
 .table {
     border: 1px solid black;
     border-radius: 2px;
 }
.thead {
    display: grid;
    grid-template-columns: 1fr 6fr 2fr;
}
.surname {
    background: rgb(113, 188, 218);
}
.days {

    display: flex;
    
}
.days>div {
    border: 1px solid black;
    border-radius: 1px;
    padding: 5px;
    flex: 1 0 20px;
}
.hours {
    background: rgb(150, 190, 150);
}